extends base.pug 

block scripts 
  script(src='/static/index.js')

block style 
    style 
      include ../static/style.css
      include ../static/style5.css
block content 
    div.container  
      h3 Thanks For Contacting Us !!
      p We Will Reply Shortely 

       