extends base.pug 

block scripts 
  script(src='/static/index.js')

block style 
    style 
      include ../static/style.css
      include ../static/style3.css
block content 
    div.container  
      h3 Our Services:
      div.box 
       ul
        li Madhyapradesh = Indore, Bhopal, Gwalior, jabalpur, Ujjain, Sagar, Satna. 
        li Uttarpradesh = Lucknow, Prayagraj, Varanasi, Jhansi, Gajiyabad, Kanpur. 
        li Maharashtra = Mumbai, Pune, Thane, Nagpur, Kolhapur, Kalyan. 
        li Rajasthan = Jaipur, Jodhpur, Kota, Bhiwadi, Bikaner, Udaipur, Ajmer.
        li Gujarat = Ahemdabad, Rajkot, Gandhinagar, surat, vadodra, Bhavnagar.
        li Bihar = Patna, Gaya, Bhagalpur, Muzzafarpur, Darbhanga, Purniya.
        li Tamilnadu = Chennai, Coimbatore, Madurai, Salem.
        li Andhrapradesh = Vishakhapatnam, Vijayvada, Guntur, Nellore.
        li WestBengal = Kolkata, Siliguri, Asansol, Durgapur.
        div.name ~SKDA    
         